bokeh==2.1.1
jupyter==1.0.0
jupyterstan==0.2.0
numpy==1.18.5
ortools==7.7.7810
pandas==1.1.0
plotnine==0.7.0
psycopg2==2.8.5
pystan==2.19.1.1
scikit-learn==0.23.1
scipy==1.5.2
statsmodels==0.11.1
tensorflow==2.3.0
tensorflow-probability==0.11.0
